* {
  font-family: 'Prompt', sans-serif;
}

nav {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
}

nav .nav-container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 60px;
}

nav .nav-container .nav-logo {
  display: inline;
  margin: 0;
  font-size: 30px;
  color: #333;
}

nav .nav-container a {
  text-decoration: none;
  color: #6f6f6f;
  margin-right: 15px;
  float: left;
}

nav .nav-container a:not(:first-of-type) {
  line-height: 65px;
}

nav .nav-container a.nav-link-right1 {
  float: right;
  margin: 0;
}

nav .nav-container a.nav-link-right2 {
  float: right;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


.authen-container {
  width: 400px;
  margin-top: 60px;

}

.section .section-header {
  margin-top: 60px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 12px;
}

.section::after {
  display: block;
  content: "";
  clear: both;
}

.section .section-header .section-heading {
  display: inline-block;
  width: 50%;
  margin: 0;
  font-size: 24px;
}

.section .section-header a {
  display: inline-block;
  width: 50%;
  height: 100%;
  line-height: 24px;
  float: right;
  text-align: right;
  color: #6f6f6f;
  text-decoration: none;
}

.section-card {
  margin-top: 18px;
}

.card-bottom-row {
  padding-top: 10px;
}

.section-card-left {
  width: 33.33%;
  height: 540px;
  border-bottom: 1px solid #d8d8d8;
  float: left;
}

.section-card-right {
  width: 33.33%;
  height: 270px;
  float: right;
  padding-left: 10px;
}

.card {
  width: 100%;
  height: 100%;
  border: 1px solid #d8d8d8;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 3px 6px #d8d8d8;
 }

.card-content {
  padding: 10px;
  margin: 0;
}

.card-img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card-img-280 {
  height: 240px;
}

.card-img-140 {
  height: 120px;
}

.card-title {
  color: #333;
  margin: 0;
  font-size: 18px;
  padding: 10px;
}

.card-title > a {
  color: inherit;
  text-decoration: none;
}

.card-examples {
  color: #a8a8a8;
  font-weight: 300;
  padding-left: 10px;
}

.card-author {
  position: absolute;
  bottom: 0;
  color: #333;
  padding-left: 10px;
}

.authen-header{
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.authen-input {
  display: block;
  width: 100%;
  height: 42px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 24px;
  font-family: inherit;
}

.authen-btn {
  display: block;
  width: 100%;
  height: 36px;
  font-family: inherit;
  background-color: #17e880;
  color: #fff;
  border: 1px solid #d8d8d8;
  text-align: center;
  padding: 8px;
}

.authen-link {
  display: block;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  text-decoration: none;
  color: #6f6f6f;

}

.article-container {
  max-width: 740px;
}

.article-header {
  margin-top: 60px;
  margin-bottom: 24px;
}

.article-heading {
  maring: 0;
  font-size: 24px;
  color: #333;
}

.article-author {
  color:#6f6f6f;
}

.article-content img {
  display: block;
  margin: 0 auto;
  width: 240px;
}

.article-content p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}